body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 30px;
    height: 100vh;
}

.float-page-link {
    position: absolute;
    width: 50%;
    height: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.text-header {
    width: 70%;
    height: 10%;
    background: #00BFFF;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
}

.content {
    display: flex;
    flex: 1;
}

.img-left {
    width: 30%;
    background: #00FA9A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-center {
    width: 40%;
    background: #FFFF00;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-right {
    width: 30%;
    background: #FF00FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-footer {
    width: 70%;
    height: 10%;
    background: #FFE0B2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}